#services {
    background-color: #0D0D0D;
    padding: 70px 0;
}

.services-tite {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.67em;
}

.services-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services-car {
    width: 45%;
    min-width: 45%;
    max-width: 45%;
    position: relative;
    margin-top: 55px;
}

.services-car h1 {
    font-weight: 500;
    font-size: 28px;
    color: #F6AE2D;
    font-family: 'Montserrat', sans-serif;
}

.services-car p {
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.black-or-line{
    display: flex;
}

.black-or-line span{
    display: block;
    height: 8px;
}

.black-or-line span:first-child{
    width: 28px;
    background-color: #fff;
}

.black-or-line span:last-child{
    width: 65px;
    background-color: #F6AE2D;
    margin: 0 10px;
}

.services-car[types="ui/ux"]{
    padding-left: 50px;
}

.services-car[types="ui/ux"] h1{
    position: absolute;
    transform: rotate(-90deg);
    left: -83px;
    top: 73px;
}

.services-car[types="ui/ux"] .black-or-line{
    margin-bottom: 30px;
}

.services-car[types="devlopment"] h1{
    margin-top: 15px;
    margin-bottom: 20px;
}

.services-car[types="maintenance"] h1{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.services-car[types="maintenance"] .black-or-line{
    direction: rtl;
}