body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 85%;
  margin: 0 auto;
}

@media screen and (min-width:1920px) {
  .container{
    width: 1660px;
  }
}

@media screen and (max-width:1020px) {
  .container{
    width: 98%;
  }
}

.d-flex{
  display: flex;
}

.d-center{
  display: grid;
  place-content: center;
}

.justify-between{
  justify-content: space-between;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f180; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.or-color{
  color: #F6AE2D;
}

.or-bg-color{
  background-color: #F6AE2D ;
}